:root {
  //fonts
  --ff-primary: "Roboto Slab", serif;
  --ff-secondary: "Archivo", sans-serif;

  //colors
  --clr-white: #ffffff;
  --clr-white-100: #fcfcfc;
  --clr-black: #000e24;
  --clr-gray: #899aa7;
  --clr-blue-800: #002765;
  --clr-blue-700: #022665;
  --clr-blue-600: #006cb8;

  --clr-brand: #b2c91e;

  --nav-btn-hover: #0376c7;
}
